rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Função para verificar se o usuário é admin
    function isAdmin() {
      return request.auth != null && 
             request.auth.token.email == 'kaiohyuuga@gmail.com';
    }

    // Função para verificar se o usuário está acessando seu próprio documento
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // Regras para usuários
    match /users/{userId} {
      // Admin pode ler e escrever em qualquer documento de usuário
      allow read, write: if isAdmin();
      
      // Usuários normais podem ler e escrever apenas em seus próprios documentos
      allow read, write: if isOwner(userId);
      
      match /partners/{partnerId} {
        // Permitir que o usuário leia e escreva em seus próprios parceiros
        allow read, write: if isOwner(userId);
        
        // Permitir que o parceiro leia e escreva no documento de parceria
        allow read, write: if request.auth != null && 
          exists(/databases/$(database)/documents/users/$(request.auth.uid)/partners/$(userId));
      }
    }

    // Regras para cartas
    match /cards/{cardId} {
      // Qualquer usuário autenticado pode ler cartas
      allow read: if request.auth != null;
      
      // Apenas admin pode escrever em cartas
      allow write: if isAdmin();
    }
  }
} 